* {
    margin: 0;
}


body {
    background-color: #798665;
    color: #2e3326;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar{
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;

    padding:0px;
    margin: 20px;

    gap: 10px;
}

#headerTitle {
    display: flex;
    align-items:flex-end;

    padding: 5px;
    margin: 10px;

    gap: 10px;
}

#headerTitle img{
    width: 50px;
    border-radius: 8px;
}

#headerTitle h1 {
    font-size: 35px;
    font-family: Ysabeau SC;
    /* Ysabeau SC
    Roboto
    Montserrat
    Kanit
    Playfair Display */
}

#buttonNav {
    /* border: 1px solid black; */
    padding: 5px;
    margin: 10px;
}

.navBarBtnPatternClass{
    width: 40px;
    height: 40px;

    color:#3a4131;
    background-color: #9fb382;

    border-radius: 8px;
    border-width: 2px;
    border-color: #3a41319f;
    border-style:solid;    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}

.navBarBtnPatternClass:hover{
    cursor: pointer;
}

#quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;

    margin: 5%;
    text-align: center;
}

#textContainer {
    display: flex;
    flex-direction: column;

    font-family: Ysabeau SC;

}

#quoteContainer #quoteText{
    color: white;
    font-size: 1.7rem;

    margin: 10px;
}
#quoteContainer #author{
   
    color: #becea6;
    font-size: 1.5rem;
    align-self: end;
    margin: 0px 15px;
}
#quoteContainer #category{
    
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(90, 90, 30);

    margin: 10px;
    padding: 5px 12px;
    
    width: fit-content;
}

#generateBtn {
    height: 40px;

    color:#3a4131;
    background-color: #9fb382;

    border-radius: 8px;
    border-width: 2px;
    border-color: #3a41319f;
    border-style:solid;    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);

    font-weight: 600;
    font-size: 1rem;

    display: flex;
    align-items: center;

    margin-top: 20px;
    padding-left: 3px;
    align-self: flex-end;
}

#generateBtn:hover {
    cursor: pointer;
}

#generateBtn svg {
    padding-right: 2px;
}


.font-Ysabeau_SC {
    font-family: 'Ysabeau SC';
}
.font-Roboto {
    font-family: 'Roboto';
}
.font-Montserrat {
    font-family: 'Montserrat';
}
.font-Kanit {
    font-family: 'Kanit';
}
.font-Playfair_Display {
    font-family: 'Playfair Display';
}
.font-Times_New_Roman{
    font-family: 'Times New Roman';
}